body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(70deg, #5334ff, pink);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

.header {
    padding: 20px;
    text-align: center;
    margin-top: -55px;
    width: 100%;
}

h1 {
    margin: 0;
}

.main {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 25px;
    width: 100%;
}

.conteneur {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    width: 80%;
    max-width: 1600px;
}

.Box {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.Box p {
    margin-bottom: 10px;
    font-weight: bold;
}

.Box video {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

footer {
    text-align: center;
    margin-top: 40px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
}

@media screen and (max-width: 800px) {
    .conteneur {
        grid-template-columns: 1fr;
    }

    .button {
        display: flex;
        flex-direction: column;
    }
    
    body {
        height: 100%;
    }
}
