body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(70deg, #5334ff, pink);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1920px;
  max-width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}
.questions {
  display: grid;
  grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
}

.main {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
#tete {
  grid-row-start: 1;
  grid-column-start: 2;
  grid-column-end: 4;
  padding: 45px 100px;
}
#bras {
  grid-row-start: 1;
  grid-column-start: 4;
  grid-column-end: 6;
}
#epaules {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}
#cou {
  grid-row-start: 2;
  grid-column-start: 3;
  grid-column-end: 5;
  padding: 45px 110px;
}
#dos {
  grid-row-start: 2;
  grid-column-start: 5;
  grid-column-end: 7;
  padding: 45px 100px;
}

.header {
  margin-left: 40%;
  padding: 20px;
  width: 100%;
  text-align: left;
  display: flex;
}
.navlink {
  padding: 0 10%;
}
nav {
  padding: 0 10%;
  display: flex;
  justify-content: space-between;
  text-size-adjust: 10px;
  margin-left: 15em;
  padding-top: 1em;
}
h1 {
  margin: 0;
}
h1:hover {
  opacity: 50%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50em;
}
.personnage {
  width: 400px;
  height: 400px;
  background-color: white;
  border-radius: 50%;
  margin: 0 300px;
}
img {
  height: 267px;
  margin-left: 68px;
  margin-top: 50px;
}
.button {
  background-color: white;
  padding: 45px 90px;
  text-decoration: none;
  border-radius: 20px;
  color: #333;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  font-size: larger;
}
.button:hover {
  background-color: #fb86ff;
}
footer {
  text-align: center;
}

.titre {
  padding-top: 15px;
  padding-bottom: 25px;
}
@media screen and (max-width: 800px) {
  .button {
    display: flex;
    flex-direction: column;
    padding: 15px 30px;
    justify-content: space-between;
  }
  body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 800px;
    height: 480px;
  }
  .header {
    padding: 20px;
    text-align: center;
    width: 100%;
    margin-top: -25px;

    width: 1080px;
  }
  h1 {
    margin: 0;
    z-index: 2;
  }
  .main {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    gap: 15px;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    height: 12em;
  }
  .personnage {
    width: 200px;
    height: 200px;
    background-color: #d9f0d9;
    border-radius: 50%;
    margin: 0 50px;
  }
  .button {
    background-color: #d9d9d9;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    color: #333;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .button:hover {
    background-color: #c0c0c0;
  }
  footer {
    text-align: center;
    margin-top: 55px;
  }
  .questions {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    gap: 10px;
  }
}
